<%- include("partials/header.ejs"); %>
<% if(locals.title){ %>
    <ul>
      <% for(var i=0; i<title.length; i++){ %>
        <li><a href="/detail?ind=<%= encodeURIComponent(i) %>"><%= title[i] %></a></li>
      <% } %>
    </ul>
  <% } else { %>
    <h2 class="create-h2">Write your own blog now</h2>
    <button class="create-button" onclick="location.href='/create'" type="button">Create</button>
  <% } %>
  
<%- include("partials/footer.ejs"); %>